<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<div class="ship">
  <h3>Name: <%= @ship.name %></h3><br>
  <h4>Type: <%= @ship.type %></h4><br>
  <h4>Booty: <%= @ship.booty %></h4>
</div><br>